// COLORS
$primary-color: #1D314F;
$secondary-color: #A0926E;
$gold-100: #FAFAF8;


$white-color: #fff;

$dark-grey: #23262A;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;

$serif-font: 'Cormorant Garamond', Georgia, 'Times New Roman', Times, serif;


$box-shadow-bottom-heavy: 0px 0px 10px rgba(2, 10, 22, 0.2);
$transition: 0.5s;


$colors: (
    white: #ffffff,
    black: #23262A,
    blue: #315580,
    red: #961D24,
    green: #576545,
    beige: #CDC3B4,
    orange: #DF8718
);